[submodule "thirdparty/zeromq"]
	path = thirdparty/zeromq
	url = https://github.com/zeromq/libzmq.git
[submodule "thirdparty/ompi"]
	path = thirdparty/ompi
	url = https://github.com/open-mpi/ompi.git
