sudo: true
language: cpp

os: linux
stage: test
compiler: gcc

script:
    - set -e
    # build
    - mkdir build && cd build && cmake ../ && make -j 4
    # install openmpi
    - cd ../thirdparty/ompi && sudo make install
    # install zeromq
    - cd ../zeromq && sudo make install && cd ../../
    # make testunit
    - cd build && ctest -v
