sudo: true
language: cpp

os: linux
stage: test
compiler: gcc

dependencies:
    &seastar_deps [
        "libaio-dev",
        "ninja-build",
        "ragel",
        "libhwloc-dev",
        "libnuma-dev",
        "libpciaccess-dev",
        "libcrypto++-dev",
        "scylla-libboost165-all-dev",
        "libxml2-dev",
        "xfslibs-dev",
        "libgnutls28-dev",
        "liblz4-dev",
        "libsctp-dev",
        "make",
        "libprotobuf-dev",
        "protobuf-compiler",
        "python3",
        "systemtap-sdt-dev",
        "libtool",
        "cmake",
        "libc-ares-dev",
        "libyaml-cpp-dev",
	"stow",
        "realpath"
    ]

matrix:
    include:
        - env: COMPILER="g++-7" C_COMPILER="gcc-7"
          addons: &gcc7
              apt:
                  sources:
                      - ubuntu-toolchain-r-test
                      - sourceline: 'ppa:scylladb/ppa'
                  packages:
                      - *seastar_deps
                      - g++-7
        - env: DPDK_MODE="" COMPILER="g++-7" C_COMPILER="gcc-7"
          addons: *gcc7

script:
    - set -e
    - mkdir build
    - cd build
    - cmake ../
    - make -j 2
jobs:
    - make test
