sudo: true
language: cpp

os: linux
stage: test
compiler: gcc

matrix:
    include:
        - env: DPDK_MODE="" COMPILER="g++-7" C_COMPILER="gcc-7"
          addons: *gcc7

script:
    - set -e
    - mkdir build
    - cd build
    - cmake ../
    - make -j 2
jobs:
    - make test
